# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth



REACT_EDITOR=code --wait+

# POSTGRES_URL="postgres://<your Postgres username>:<your DB password>@127.0.0.1:5432/next-js-dashboard"
# POSTGRES_URL="postgres://postgres:@127.0.0.1:5432/next-js-dashboard"
POSTGRES_URL="postgres://postgres:@db:5432/next-js-dashboard"
POSTGRES_URL_NON_POOLING="postgres://postgres@db:5432/next-js-dashboard"
POSTGRES_USER="postgres"
POSTGRES_HOST="127.0.0.1"
POSTGRES_PASSWORD=""
POSTGRES_DATABASE="next-js-dashboard"